<header id="about">

    <div class="bg-img"></div>

    <nav id="nav" class="navbar nav-transparent">
        <div class="navbar-header">
            <div class="nav-collapse">
                <span></span>
            </div>
        </div>
        <ul class="main-nav nav navbar-nav navbar-left">
            <li class="active"><a href="#about">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <p class="landing-wrapper">全球一站式多元監管服務</p>
    <div class="about-wrapper">
        <div class="about-container">
            <div class="about-content">
                <h2 class="main-title title">About</h2>
                <p class="sub-title">我們擁有由頂尖IT團隊，架構師和金融外匯顧問的專家 </p>
                <p class="content">具有數百種專業技術知識，探索新見解， 探索業務創新，為您的組織創造新價值</p>
                <h6 class="note">我們為客戶提供新多種連接方式和優化的解決方案</h6>
                <h6 class="note">在市場上我們將向您展示如何擴大您的產品範圍並提高轉化率</h6>
            </div>
        </div>
    </div>
</header>
<div id="service" class="section md-padding">
	<div class="row">
		<h2 class="main-title title">Services</h2>

		<div class="service-item-wrapper service-between" id="service-item-1">
			<div class="service-item-large">
				<img src="./images/service-04.png" alt="">
				<div class="service-item">
					<h1>
						<span>網站建置</span>
						<span>一次到位</span>
					</h1>
					<p>
						<span>網域、註冊、技術開發</span>
						<span>後台CRM客製化服務</span>
						<span>雲端佈署全方位託管</span>
					</p>
				</div>
			</div>
			<div class="service-between service-between-column service-item-small">
				<div class="service-item">
					<div>
						<h2>歷史Tick數據資源</h2>
						<p>擁有數百種外匯、貴金屬、能源、加密貨幣、股票指數等的即Tick資料進行回測</p>
					</div>
					<div>
						<h2>即時報價</h2>
						<p>外匯市場最具有競爭力的即時報價來源</p>
					</div>
				</div>
				<div class="service-item">
					<h2>提供多國金融牌照申請</h2>
					<p>澳大利亞ASIC監管牌照</p>
					<p>英國金融市場行為監管局FCA牌照</p>
					<p>加拿大MSB合約期貨交易牌照</p>
					<p>美國NFA期貨業監管牌照</p>
				</div>
			</div>
		</div>

		<div class="service-item-wrapper service-full" id="service-item-2">
			<img src="./images/service-06.png" alt="">
			<div class="service-item">
				<h2>MT4 MT5</h2>
				<h2>主標·白標申請 一站式服務</h2>
				<p>客制化專用商標 / 交易輔助插件 / 流通商直通市場 / CRM管理系統</p>
				<p>量身定制操作簡單 降低成本充分控管 極低點差更高收益</p>
			</div>
		</div>

		<div class="service-item-wrapper service-between" id="service-item-3">
			<div class="service-between service-between-column service-item-small">
				<div class="service-item">
					<img src="./images/service-05.png" alt="">
					<div>
						<h3>新加坡設立公司</h3>
						<h3>新加坡開設帳戶</h3>
						<p><span>全球第三大金融市場</span><span>最具競爭力經濟體</span></p>
						<p><span>法制健全且監管完整</span><span>不對資本收益徵稅</span></p>
					</div>
				</div>
				<div class="service-item">
					<h1>
						<span>瑞士銀行</span>
						<span>開設帳戶</span>
					</h1>
				</div>
			</div>
			<div class="service-item service-item-large">
				<h2>第三方·第四方支付</h2>
				<p>提供客戶線上金流串接服務</p>
				<img src="./images/service-02.png" alt="">
			</div>
		</div>

		<div class="service-item-wrapper service-full" id="service-item-4">
			<div class="img-bg"></div>
			<div class="service-item">
				<h2>直通式流動性提供商服務</h2>
				<h2>直通式即STP (Straight Through Processing)</h2>
				<p>確保訂單被即時處裡</p>
				<p>有競爭性的市場報價</p>
				<p>流動性高交易越順利</p>
			</div>
		</div>
	</div>
</div>
<div id="contact" class="section md-padding">
    <div class="bg-img">
        <div class="overlay"></div>
    </div>

    <h2 class="main-title title">Contact me</h2>

    <div class="contact-wrapper">
        <div class="contact">
            <i class="flaticon-call-answer"></i>
            <p><a href="tel:+886975227993">+886-975227993</a></p>
        </div>
        <div class="contact">
            <i class="flaticon-envelope"></i>
            <p><a href="mailto:2517900528@qq.com">2517900528@qq.com</a></p>
        </div>
    </div>
</div>
</div>
<div id="back-to-top"><i class="flaticon-upload"></i></div>